.App {
  text-align: center;
}

.slide-in {
  animation-name: slideIn;
  animation-duration: 1s;
  animation-iteration-count: 1;
  animation-timing-function: ease-in-out;
}
.slide-out {
  animation-name: slideOut;
  animation-duration: 1s;
  animation-iteration-count: 1;
  animation-timing-function: ease-in-out;
}

@keyframes slideIn {
  from {
    left: -120px;
  }
  to {
    left: 120px;
  }
}
@keyframes slideOut {
  from {
    left: 100px;
  }
  to {
    left: -200px;
  }
}

@media screen and (max-width: 520px) {
  .banner img {
    object-fit: fill;
  }
}
